.MooContentAssist { /*the main container*/
	padding: 6px 0 3px 0;
	min-height: 2em;
	height: 8.75em;
	overflow: auto;
	padding: 6px 0 3px 0;
	border: 1px solid #999999;
	background-color: #F1F2F1;
	font-family: arial;
	font-size: 13px;
	position: absolute;
	z-index: 10;
	opacity: 1;
}

.MooContentAssist .itemsContainer_theme_japs {
	/*the container of all the items*/
	font-family: arial;
	font-size: 13px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.MooContentAssist .itemsContainer_theme_japs .item { /*the single item*/
	background-color: transparent;
	color: #822D08;
	cursor: pointer;
	padding: 0.3em 0 0.3em 0.5em;
	margin: 0.3em 0;
	height: 15px;
	display: block;
	border: 0;
}

.MooContentAssist .itemsContainer_theme_japs .itemSelected {
	/*added to the item when is selected*/
	background-color: #FCC26B;
	color: #000;
	font-weight: normal;
}

.MooContentAssist .itemsContainer_theme_japs .matchedText {
	/*the portion of text matched inside the item*/
	font-weight: bold;
}

.MooContentAssist .itemsContainer_theme_japs .itemSelected .matchedText
	{ /*the portion of text matched inside the item selected*/
	color: #000;
	font-weight: bold;
}

.MooContentAssist .itemsContainer_theme_japs .messageItem { /*message*/
	background-color: transparent;
	color: #000;
	cursor: pointer;
	padding: 0;
	margin: 0;
	cursor: pointer;
	height: 15px;
	display: block;
	float: left;
}