/* basic */

body {
	font-size: 100.01%;
}

h1 {
	font-size: 1.5em;
	margin: 1em 0 0.4em 0;
}

h2, h3 {
	margin: 0.5em 0 0.2em 0;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1em;
}

p {
	margin: 0.5em 0;
	padding: 0;
}

p, li, th, td, legend, dt, dd {
	font-size: 0.9em;
}

li li {
	font-size: 1em;
}

ul.noBullet {
	padding-left: 0.5em;
	margin-left: 0.5em;
}

form p {
	margin: 1.2em 0.5em;
}

form .buttons input {
	margin: 0 0.5em;
}

fieldset {
	border: 1px solid #e9e9e9;
	margin: 1em 0;
	padding: 0.5em 0;
}

legend {
	border: 1px solid #e9e9e9;
}

label.basic-mint-label, .contentAttributeBox p.important, .contentAttributeBox span.important {
	display: block;
}

input.radio {
	margin-right: 0.5em;
}

input.button, .pager input.paddingLateral05 {
	border: 1px solid #000000;
	margin: 0 0.5em;
}

.pager input.disabled-true {
	background-color: #e2e2e2;
}

.imageAttribute-img {
	margin-right: 1em;
}

.imageAttribute-text .basic-mint-label {
	display: inline;
}

.contentAttribute-Monolist li, .contentAttribute-List li {
	margin-bottom: 1.5em;
	border-bottom: 1px solid #dedede;
	padding-bottom: 0.5em;
}

.contentAttribute-Monolist li *, .contentAttribute-List li * {
	vertical-align: top;
}

.contentAttribute-Monolist li span.important, .contentAttribute-List li span.important, .contentAttribute-Monolist li label.basic-mint-label, .contentAttribute-List li label.basic-mint-label {
	display: inline;
}

.contentAttribute-Monolist li .compositeAttribute, .contentAttribute-List li .compositeAttribute {
	margin-top: 0.5em;
}

.compositeAttribute .compositeAttribute-element {
	margin-bottom: 0.5em;
}


/** Tables **/
table.generic,
table.calendar {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.4em 2px 0 2px;
}

table.generic th a:link, table.generic th a:visited,
table.calendar th a:link, table.calendar th a:visited {
	border-bottom-width: 0.1em;
}

table.generic caption,
table.calendar caption {
	font-size: 0.9em;
}

table.generic th, table.generic td,
table.calendar th, table.calendar td {
	padding: 0.5em;
}

table.generic th.icon, table.generic td.icon {
	text-align: center;
	width: 24px;
}

table.generic th.icon_double, table.generic td.icon_double {
	text-align: center;
	width: 84px;
}

table.generic td.icon a, table.generic td.icon_double a {
	border: none;
	text-decoration: none;
}

table.generic td.icon_double a {
	margin-left: 0.25em;
	margin-right: 0.25em;
}
/** /Tables **/

/** Definition Lists **/
dl.table-display {
	width: 29.1em;
	margin: 2em auto;
}

dl.table-display dt {
	width: 10em;
	padding: 0.5em;
}

dl.table-display dd {
	width: 20em;
	padding: 0.5em;
}

/** /Definition Lists **/
/**	Gallery risorse **/
dl.gallery {
	border: 1px solid #e2e2e2;
	width: 120px;
	text-align: center;
	padding: 10px 0;
	float: left;
	margin: 0.5em 0.6em 0.5em 0;
}

dl.gallery p {
	padding: 0;
	margin: 0.5em 0;
	font-size: 1em;
}

dl.gallery dt {
	font-weight: bold;
	margin: 0 10px;
}

dl.gallery dt a {
	text-decoration: none;
	border: none;
}

dl.gallery dt.image {
	width: 100px;
	height: 100px;
	background-color: #ffffff;
	border: 1px solid #dedede;
}

dl.gallery dt.options img {
	border: none;
}

dl.gallery dt.fileinfo {
	display: none;
	visibility: hidden;
}

dl.gallery dt.options {
	margin: 0.5em 0;
}

dl.gallery dt.options a {
	margin: 0 0.25em;
}

dl.gallery dd {
	margin: 0 10px;
	padding: 0;
	background-color: #ffffff;
	overflow: auto;
	height: 8em;
}
/** /Fine Gallery risorse **/

/** Maxi Button **/
dl.maxiButton {
	float: left;
	border: 1px solid #e9e9e9;
	width: 18%;
	text-align: center;
	padding: 0;
	margin: 0.5em 0.8em 0.5em 0;
}

dl.maxiButton p {
	margin: 0.5em 0;
	padding: 0;
	font-size: 1em;
}

dl.maxiButton dt {
	margin: 0 0.25em;
}

dl.maxiButton dt a {
	text-decoration: none;
	border: none;
}

dl.maxiButton dt.name span.up {
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	height: 4em;
	line-height: 4em;
	color: #1b4b7a;
}

dl.maxiButton dt.name span.down {
	font-size: 0.9em;
	font-weight: normal;
	display: block;
	border-top: 1px solid #dedede;
	margin: 0 0 0.25em 0;
	padding: 1em 0;
	min-height: 2em;
	line-height: 2em;
	color: #ffffff;
}

dl.maxiButton dt.components span.down {
	background-color: #855126;
}

dl.maxiButton dt.cms span.down {
	background-color: #275a86;
}

dl.maxiButton dt.portal span.down {
	background-color: #3c566f;
}

dl.maxiButton dt.tools span.down {
	background-color: #424d76;
}

dl.maxiButton dt.plugins span.down {
	background-color: #275a86;
}

dl.maxiButton dt.empty span.down {
	background-color: #e2e2e2;
}

dl.maxiButton dd {
	margin: 0 10px;
	padding: 0;
	background-color: #ffffff;
	height: 8em;
	overflow: auto;
}
/** /Maxi Button **/

.subsection-light {
	border-top: 1px solid #545454;
}

.tab-container {
	padding: 0.5em;
}

.page, .category {
	margin: 0.5em 0;
}

/************************/
table.calendar {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	border-bottom: 3px solid #5a7b9c;
	border-left: 3px solid #5a7b9c;
	border-right: 3px solid #5a7b9c;
	background-color: #ffffff;
}

table.calendar caption,
table.calendar th {
	background-color: #e2e2e2;
	color: #1b2d3e;
	font-weight: bold;
	text-align: center;
}

table.calendar th a:link,
table.calendar a:visited {
	color: #1b2d3e;
	border-bottom-color: #1b2d3e;
	border-bottom-style: solid;
	text-decoration: none;
}

table.calendar th a:link,table.calendar th a:visited {
	color: #1b2d3e;
	border-bottom-color: #1b2d3e;
	border-bottom-style: solid;
	text-decoration: none;
}

table.calendar th a:hover,
table.calendar a:active,
table.calendar a:focus {
	border-bottom: none;
	text-decoration: none;
}

table.calendar caption {
	width: 100%;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #3c566f;
	color: #ffffff;
	border-top: 3px solid #5a7b9c;
	border-left: 3px solid #5a7b9c;
	border-right: 3px solid #5a7b9c;
}

table.calendar th,
table.calendar td {
	border-bottom: 2px solid #e2e2e2;
}

.inlineNote {
	font-size: 1.1em;
	margin-left: 1em;
}