/* mint */

body {
	width: 960px;
}

#topbar {
	font-size: 11px;
}

#topbar {
	box-shadow: 0 0 4px #000000;
	-moz-box-shadow: 0 0 4px #000000;
	-webkit-box-shadow: 0 0 4px #000000;
}

#topbar img {
	margin-right: 2px;	
}

#topbar li {
	width: 94px;
}

#topbar li a span {
	width: 70px;
}

#header {
	box-shadow: 0 0 10px #000000;
	-moz-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;		
}

#corpo {
	box-shadow: 0 0 10px #000000;
	-moz-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;		
}

#footer {
	box-shadow: 0 0 4px #000000;
	-moz-box-shadow: 0 0 4px #000000;
	-webkit-box-shadow: 0 0 4px #000000;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;	
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#header {
	background-image: url("../img/header-background-glow.png");
	background-position: 0 0;
	background-repeat: repeat-x;
}

#header, #header-1, #header-2, #header-3 {
	height: 82px;
	line-height: 82px;
}

#header-1 {
	width: 98px;
}

#header-2 {
	width: 550px;
}

#header-2 p {
	margin-left: 16px;
}

#header-2 span {
	padding-left: 16px;
	line-height: 40px;
}

#header-3 {
	margin-left: 650px;
}

#header-3 p.welcome {
	display: inline-block;
	width: 204px;
	height: 27px;
	line-height: 27px;
	font-size: 13px;
	padding-left: 12px;
	background-image: url("../img/userbar-background-left.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-color: transparent;
	text-shadow: 1px 1px 0 #ffffff;
}

#header-3 p.welcome span {
	display: inline-block;
	width: 204px;
	height: 27px;
	line-height: 27px;
	font-size: 13px;
	padding-left: 12px;
	background-image: url("../img/userbar-background-right.png");
	background-position: 100% 0;
	background-repeat: no-repeat;
}

#header-3 span#welcome-cap {
	cursor: pointer;
	display: inline-block;
	width: 38px;	
	height: 27px;
	line-height: 27px;
	font-size: 13px;	
	background-image: url("../img/userbar-background-arrow-sprite.png");
	background-position: 100% 0;
	background-repeat: no-repeat;
}

#corpo {
	padding-bottom: 20px;
	background-image: url("../img/main-background-pattern.png");
	background-position: 0 0;
	background-repeat: repeat;
}

#menubar {
	margin-top: 4px;
	position: absolute;
	padding: 0;
	background-color: transparent;
	z-index: 100;
	overflow: visible;
	height: 1px;
}

#menubar_content {
	float: left;
	margin: 0;
	padding: 0;
	width: 260px;
	background-image: url("../img/menubar-background-border.png");
	background-position: 0 0;
	background-repeat: repeat-y;
	box-shadow: 1px 1px 4px #000000;
	-moz-box-shadow: 1px 1px 4px #000000;
	-webkit-box-shadow: 1px 1px 4px #000000;		
}

#menubar_content-1 {
	background-image: url("../img/menubar-background-bottom.png");
	background-position: 0 100%;
	background-repeat: no-repeat;
	padding-bottom: 10px;
}

#menubar_content-2 {
	background-image: url("../img/menubar-background-top.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	min-height: 225px;
}

#menubar_anchor {
	float: left;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#colonna2 {
	padding: 0 33px 0 62px;
	background-image: url("../img/main-hr-strong.png");
	background-position: 65px 38px;
	background-repeat: no-repeat;
}

#main {
	background-image: url("../img/main-hr-strong.png");
	background-position: 50% 100%;
	background-repeat: no-repeat;
	padding: 20px 0 43px 0;
	margin: 0 0 30px 0;
}

#footer {
	padding: 0;
	height: 35px;
	line-height: 35px;
}

#footer p {
	margin: 0;
	padding: 0;
}