/* basic */

body {
	min-width: 700px;
	max-width: 1100px;
}

#topbar {
	font-size: 0.7em;
	width: 100%;
}

#topbar li {
	width: 9.74%;
}

#topbar li a {
	width: 100%;
}

#topbar li a span {
	width: 55%;
}

#header {
	background-color: #0d253c;	
	border-bottom: 3px double #ffffff;
}

#header, #header-1, #header-2, #header-3 {
	min-height: 79px;
	line-height: 79px;
}

#header-1 {
	width: 10%;
}

#header-2 {
	width: 60%;
}

#header-2 p {
	margin-left: 1.5em;
}

#header-2 span {
	padding-left: 1.2em;
	line-height: 2.4em;
}

#header-3 {
	margin-left: 70%;
}

#header-3 p.welcome, #header-3 a {
	font-size: 0.85em;
	padding: 0.2em;
}

#corpo {
	padding-bottom: 0.5em;
}

#colonna1 {
	float: left;
	width: 20%;
}

#menubar {
	margin-top: 0.5em;
	border-top: 1px solid #d68609;		
	border-right: 1px solid #d68609;
	border-bottom: 1px solid #d68609;	
}

#colonna2 {
	/* background-color: cyan; */
	margin-left: 21%;
}

/* a qui con piccoli strascichi dietro */

#main {
	width: 100%;
	float: left;
	border-top: 3px double #545454;	
	border-bottom: 3px double #545454;
	padding: 0.8em 0;
	margin: 0 0 1em 0;
}