/* basic */

#menubar h3 {
	padding-top: 1em;
}

#menubar h3, #menubar ul.menu li {
	padding-left: 0.5em;
	font-size: 0.9em;
}

#header ul.menu {
	width: 15.4em;
}

#header ul.menu li {
	width: 98%;
}

ul.menu li {
	margin: 0.5em 0;
}

#menubar ul.menu a {
	border: 3px solid #1c2d3f;
	padding-left: 0.2em;
}

#menubar ul.menu a:hover, #menubar ul.menu a:active {
	background-color: #d1d5d8;	
	border-style: double;
	border-color: #0d253c;
}

ul.vertical li.openmenu {
	background-position: 97% 50%;
	background-image: url("../img/icons/16x16/emblem-close.png");
}

ul.vertical li.closedmenu {
	background-position: 97% 50%;
	background-image: url("../img/icons/16x16/emblem-open.png");
}	

ul.vertical li.openmenu div.menuToggler {
	left: 102%;
	margin-top: -1.8em;
	border: 3px double #d68609;
}